*{
    --theme_color:#1484F4;
    --text_color:#C3C0C5;
    --bg_color:#000A1F;
}
body{
    background-image: url("..\\assets\\bg.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:right;
    position:fixed
}

#home{
    border-bottom: 2px solid var(--theme_color);
}

main{
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    margin-left: 20px;
    margin-top: 30px;

}

#greet{
    color: var(--theme_color);
}

.name{
    font-size: 70px;
    font-weight: 600;
    color: var(--text_color);
}

#role{
    font-size: 20px;
    color: var(--theme_color);
    font-weight: 400;
}

#desc{
    color: var(--text_color);
    padding: 1px;
}

footer{
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    gap: 20px;

}

.connect_image{
    width: 30px;
    height: 30px;
}