*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --theme_color:#1484F4;
    --text_color:#C3C0C5;
    --bg_color:#000A1F;
}

html,body{
    height: 100%;
    width: 100%;
    background-color:var(--bg_color);
}


#navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
}


#navlinks{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    gap: 30px;
}

.navlink{
    color: var(--text_color);
    text-decoration: none;
}


#logo_img{
    width: 150px;
    height: 75px;
}

.button{
    background-color: var(--theme_color);
    color: white;
    border: 2px solid #5caaf7;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background-color: transparent;
    color: var(--theme_color)
}

.text{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
